@import url("colourscheme.css");

#blog-background {
    position: absolute;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    left: 2vw;
    right: 2vw;

    top: 10vh;

    border-radius: calc(20px + 10px);

    background-color: var(--surface_0);
}

#blog-content {
    position: relative;
    width: 100%;
    margin: 10px;
    border-radius: 20px;

    padding: 0 10vw;

    background-color: var(--mantle);

    color: var(--text);
}

.sourceCode {
    display: flex;

    align-items: center;
    justify-content: center;

    background-color: var(--surface_0);

    border-radius: calc(10px + 5px);
}

.sourceCode>pre {
    display: block;
    background-color: var(--base);

    width: 100%;

    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

.sourceCode>pre>code {
    display: block;

    background-color: transparent;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
