body {
    margin: 0;
}

#Header {
    background-image: url('../assets/images/images.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    position: relative;
}

#Title {
    position: absolute;

    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);

    color: #D0D0D0;
    background-color: #1f1f1f;

    text-align: center;
    line-height: 0.5;
    font-size: 1.5vw;
}
