@import url("colourscheme.css");

.sections {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3vh;

    margin: 0px;
    padding: 0px;

    top: 10vh;
    left: 2vw;
    right: 2vw;

    justify-content: center;
    align-items: center;
}

.section_background {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 15vh;

    justify-content: center;
    align-items: center;

    border-radius: calc(20px + 10px);

    background-color: var(--surface_0);
}

.section_foreground {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    min-height: 15vh;

    margin: 10px;

    border-radius: 20px;

    padding: 0.3cm;

    background-color: var(--mantle);
}

.section_content {
    display: block;

    color: var(--text);
}

a.anchor {
    display: block;
    position: relative;
    top: -10vh;
    visibility: hidden;
}

/* #about_content {
    position: relative;
    display: flex;
    height: 100vh;
} */
